.mainDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.mapDiv span {
  align-self: center;
  margin-bottom: 10px;
}

.blurPreviews,
.blurMax {
  position: relative;
  width: 100%;
}

.blurPreviews img,
.blurMax img {
  filter: blur(6px);
}

.loaderContainer {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divThumbnails,
.active,
.maxImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.divThumbnails img,
.active img,
.maxImage img {
  object-fit: fill;
}

.divThumbnails a,
.active a,
.maxImage a {
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .mapDiv span {
    margin-top: 50px;
  }
  .divThumbnails,
  .maxImage {
    border-bottom: 1px solid #a5a5a5;
  }
  .active {
    border-bottom: none;
  }
  .divThumbnails a,
  .active a,
  .maxImage a {
    margin-top: -40px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .maxImage img {
    width: 400px;
    height: 300px;
  }
  .blurMax img {
    width: 400px;
    height: 300px;
  }
}
