.mainDiv {
  position: relative;
  display: inline-block;
}

.editorButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
}

.mainDiv img {
  max-width: 350px;
  max-height: 60vh;
}
