.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.carousel img {
  border-radius: 6px;
}
